fund=false
loglevel=error
cache-min=3600
prefer-offline=true
ignore-scripts=true
engine-strict=false
legacy-peer-deps=true
network-timeout=600000
fetch-retries=5
registry=https://registry.npmjs.org/
timeout=600000 